<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    
    <title>Company Home Page</title>
<head>
    <body>
        <header>Adam's Garden</header>
        <div class="container" id="buttons">
            <button type="button" id="budget">Budget Status</button>
            <button type="button" id="invoice">Invoices</button>
            <button type="button" id="schedule">Scheduler</button>
            <button type="button" id="client">Clients</button>
            <button type="button" id="employee">Workers</button>
            <button type="button" id="contract">Contracts</button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/home.js"></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    
  <script src="budget_button.js"></script>
  <script src="invoice_button.js"></script>
  <script src="schedule_button.js"></script>
  <script src="client_button.js"></script>
  <script src="employee_button.js"></script>
  <script src="contract_button.js"></script>


    </body>

</head>

